body{
    width: auto;
    height: auto;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color: white;
}
header{
    width: auto;
    height: 15dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid white;
}
main{
    width: auto;
    min-height: 75dvh;
    max-height: auto;
}
footer{
    width: auto;
    height: auto;
    border-top: 1px solid white;
}
h1{
    text-align: center;
}
nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-self: center;
}
img{
    display: flex;
}
a{
    display: block;
    text-decoration: none;
    color: rgb(252, 252, 252);
    margin: auto;
    padding: 10px;
}
section{
    height: 60dvh;
    width: 100%;
    display: block;
}
p{
    margin: 10px;

}
#games{
    height: 50dvh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-content: space-around;
}
#populares{
    width: 225px;
    height: 225px;
    display: block;
    text-align: center;
}
#jogos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#sobre_nos{
    display: flex;
    flex-direction: column;
}
#sobre_nos h2{
    text-align: center;
}
@media (max-width: 482px) {
    #populares{
        width: 150px;
        height: 150px;
    }
    img{
        width: 125px;
    }
}




    .contact-section {
      max-width: 700px;
      margin: 50px auto;
      padding: 30px;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }

    .contact-section h2 {
      margin-top: 0;
      font-size: 28px;
      color: #bdb9b9;
    }

    .contact-info {
      margin-top: 20px;
      line-height: 1.8;
    }

    .contact-info i {
      margin-right: 10px;
      color: #555;
    }

    .social-links {
      margin-top: 25px;
      display: flex;
      gap: 15px;
    }

    .social-links a {
      text-decoration: none;
      color: #fafafa;
      padding: 10px 20px;
      border-radius: 8px;
      display: flex;
      align-items: center;
      gap: 10px;
      transition: 0.3s ease;
    }

    .github {
      background-color: #24292e;
    }

    .github:hover {
      background-color: #333;
    }

    .discord {
      background-color: #5865F2;
    }

    .discord:hover {
      background-color: #4752c4;
    }
