{% extends 'base.html' %}
{% block title %}Loja{% endblock %}

{% block body %}
<main class="main-container">
    <h2 class="section-title">Nossa Loja</h2>
    <div class="games-grid">
        {% for jogo in jogos %}
        <div class="game-card">
            <a href="{{jogo.url}}" rel="external" target="_blank">
                <img src="{{jogo.img}}" alt="Capa do jogo {{jogo.nome}}" class="game-image">
                <details class="game-name">{{jogo.nome}}</details>
            </a>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}
