{% extends 'base.html' %}
{% block body %}
<div class="contact-section">
    <h2>Entre em Contato</h2>
    <div class="contact-info">
      <p><i class="fas fa-user"></i> Nome: Hanisson</p>
      <p><i class="fas fa-phone"></i> Telefone: (xx) xxxxx-xxxx</p>
      <p><i class="fas fa-envelope"></i> Email: emailnaoreal@python.com</p>
    </div>

    <div class="social-links">
      <a href="https://github.com/Rikatoki" target="_blank" class="github">
        <i class="fab fa-github"></i> GitHub
      </a>
      <a href="https://discord.com/users/hanyszeker" target="_blank" class="discord">
        <i class="fab fa-discord"></i> Discord
      </a>
    </div>
  </div>
{% endblock %}