{% extends 'base.html' %}

{% block title %}Sobre Nós{% endblock %}

{% block body %}
<main class="about-section">
    <div class="container">
        <h2>Olá, {{session.username}}!</h2>
        <p>Este projeto foi desenvolvido por um estudante de ensino médio apaixonado por tecnologia, programação e jogos. A ideia da loja surgiu como parte de um trabalho escolar, com o objetivo de aplicar na prática os conhecimentos de desenvolvimento web e empreendedorismo digital.</p>

        <p>O site foi totalmente criado por mim, utilizando tecnologias modernas como <strong>HTML</strong>, <strong>CSS</strong>, <strong>JavaScript</strong>, <strong>Python (Flask)</strong> e hospedado na plataforma <strong>Render</strong>. A estrutura foi pensada para simular o funcionamento de uma loja real.</p>

        <p>Esse projeto representa não apenas uma tarefa acadêmica, mas também um passo importante na minha jornada como programador e desenvolvedor full-stack.</p>
    </div>
</main>
{% endblock %}
